[submodule "bpkg-git"]
	path = bpkg-git
	url = git+ssh://aur@aur.archlinux.org/bpkg-git.git
[submodule "choosealicense-cli-git"]
	path = choosealicense-cli-git
	url = git+ssh://aur@aur.archlinux.org/choosealicense-cli-git.git
[submodule "phpbrew-git"]
	path = phpbrew-git
	url = git+ssh://aur@aur.archlinux.org/phpbrew-git.git
[submodule "python-azlyrics-git"]
	path = python-azlyrics-git
	url = git+ssh://aur@aur.archlinux.org/python-azlyrics-git.git
